 /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  background-color: #fff !important;
  text-align: center;
  color: #222;

}

#login{

  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  margin-top: 15%;
}
#start{
  padding: 7px 25px;
  background-color: #34495e;
  color: #fff;
  margin-left: -10px;
}
body h1{
  font-family: 'Prosto One';
  font-size: 5em;
}
body p{
  font-family: 'Source Sans Pro';
}

input{
  border-radius: 5px;
  border: 1px dotted 222;
  box-shadow: none;
}
#quiz-wrap button{
  display: inline-block;
}




